# Git
.git
.gitignore

# Node.js
frontend-vue/node_modules
frontend-vue/dist
frontend-vue/npm-debug.log

# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/ENV
**/env.bak
**/venv.bak

# # 上传和结果文件夹（将通过卷挂载）
# backend/uploads/*
# backend/results/*
# backend/extract_results/*
# backend/parse_results/*

# 其他
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local